Package: hermod
Version: 0.3.0
Section: httpd
Priority: optional
Source: hermod
Maintainer: Hooligan0 <gwen@ecowlogic.io>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.6
Homepage: https://github.com/Hooligan-0/hermod
Depends: libstdc++6 (>= 5.4), libfcgi0ldbl (>=2.4.0)
Description: A C++ web application server.
