Package: hermod-database-dev
Version: 0.2
Section: httpd
Priority: optional
Source: hermod
Maintainer: Hooligan0 <gwen@ecowlogic.io>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.6
Homepage: https://github.com/Hooligan-0/hermod
Depends: hermod-dev (=0.2), libodb-dev (>=2.4.0), libodb-pgsql-dev (>=2.4.0)
Description: Header files for Hermod Database module
